{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ .Content }}

  {{ if .Pages }}
  <ul class="entry-list">
    {{ range .Pages }}
    <li>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      {{- if and .Params.contributor (ne .Params.contributor "anonymous") }}
      <span class="contributor"> — {{ .Params.contributor }}</span>
      {{- end }}
      {{ with .Params.date }}<span class="date"> — {{ dateFormat "2 January 2006" . }}</span>{{ end }}
    </li>
    {{ end }}
  </ul>
  {{ end }}
{{ end }}
